img{
    width: 150%;
   height: auto;
}
h1{
    color: white;
    font-weight: bold;
}
p{
    color: white;
}
a{
    background-color: red;
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: red;
    color: white;
    border: 2px solid white;
}